body {
  font-size: 16px;
  color: #993333;
  background-color: #CC9999;
}

/** HEADER **/
#header-nav {
  background-color: #993333;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-left: 0;
  margin-top: -10px;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 0;
}
#nav-list a {
  color: #CC9999;
  text-align: center;
}
#nav-list a:hover {
  background: #FFFFFF;
}